<!--Use strongly typed views-->
@model HomeDetailsViewModel

<!--Razor code block-->
@{
    ViewBag.Title = "Employee Details";
}

<html xmlns="http://www.w3.org/1999/xhtml">

<h3>@Model.PageTitle</h3>
        
<div>
    Name: @Model.employee.Name
</div>
<div>
Email: @Model.employee.Email
</div>
<div>
Department: @Model.employee.Department
</div>

@section Scripts {
    <script src="~/js/customscript.js"></script>
}

 