<!--Use strongly typed views-->
@model EmployeeManagement.ViewModels.HomeDetailsViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
        <h3>@Model.PageTitle</h3>
        
        <div>
            Name: @Model.employee.Name
        </div>
        <div>
        Email: @Model.employee.Email
        </div>
        <div>
        Department: @Model.employee.Department
        </div>
    </body>
</html>
 